name: SonarCloud

on:
  pull_request:
    branches:
      - main
    types: [opened, edited, reopened, synchronize, review_requested, submitted]

jobs:
  review-check:
    name: Code Review Check for main
    runs-on: ubuntu-latest

    steps:
      - name: Check for approved review
        uses: actions/github-script@v6
        with:
          script: |
            const prNumber = context.payload.pull_request.number;
            const { data: reviews } = await github.pulls.listReviews({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: prNumber
            });
            const approved = reviews.some(review => review.state === 'APPROVED');
            if (!approved) {
              core.setFailed("Код-рев’ю не схвалено");
            }

  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    needs: review-check  # <-- залежність

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.projectKey=ArusMoll_MyProject
            -Dsonar.organization=arusmoll
            -Dsonar.python.version=3.10
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
